* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(225, 250, 225);
}

#panel {
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#ptop {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(69, 155, 69);
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2 {
    font-weight: 600;
}

.box {
    background-color: white;
    color: rgb(29, 97, 29);
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

#pbtm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(38, 223, 38);
    border-radius: 50%;
}
